<h1><%= @user.name %>のページ</h1>

<% if @user.image? %>
    <%= image_tag @user.image.url, size: '100x100' %>
<% else %>
    <%= image_tag 'onigiri.png', size: '100x100' %>
<% end %>

<% if @user == current_user %>
    <%= link_to 'プロフィール編集', edit_user_path(@user) %>
<% end %>

<p>メールアドレス: <%= @user.email %></p>
<%= link_to "投稿一覧画面を確認する", pictures_path %>
<%= link_to "プロフィール画像を編集する", edit_user_path(@user) %>
<%= link_to "いいねした投稿", favorites_path %>
